<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Serveur Domo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">
    <script src="./js/jquery.min.js"></script>

    <style>
        .container, .panel, .panel-body {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
</head>

<body>

<div class="container">
