{include="header"}

<!--
 @nom: index
 @auteur: Idleman (idleman@idleman.fr)
 @description: Page d'accueil
-->


{loop="places"}


<div class="panel panel-default col-xs-12">
    <div class="panel-body">
        <h5 class="text-center">Toutes les lumières</h5>
        <div class="btn-group col-xs-12">
            <a class="btn btn-success col-xs-6" onclick="send('action.php?engine=id-7&amp;action=CHANGE_STATE&amp;code=-1&amp;state=on')">ON</a>
            <a class="btn btn-danger col-xs-6" onclick="send('action.php?engine=id-7&amp;action=CHANGE_STATE&amp;code=-1&amp;state=off')">OFF</a>
        </div>
    </div>
</div>

{loop="engines"}

{if="$value2['code'] != -1"}
<div class="panel panel-default col-xs-6">
    <div class="panel-body">
        <h5 class="text-center">{$value2['name']}</h5>
        <div class="btn-group col-xs-12">
            <a class="btn btn-success col-xs-6"
               onclick="send('action.php?engine={$key}&amp;action=CHANGE_STATE&amp;code={$value2['code']}&amp;state=on')">ON</a>
            <a class="btn btn-danger col-xs-6"
               onclick="send('action.php?engine={$key}&amp;action=CHANGE_STATE&amp;code={$value2['code']}&amp;state=off')">OFF</a>
        </div>
    </div>
</div>
{/if}
{/loop}


{/loop}

<script>

    function send( sURL ) {
        $.get( sURL );
    }

</script>
